/* Error: Undefined mixin.
 *    ,
 * 10 |   @include a11y;
 *    |   ^^^^^^^^^^^^^
 *    '
 *   scss\_base.scss 10:3  @import
 *   scss\index.scss 5:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502    @include a11y;\d\a    \2502    ^^^^^^^^^^^^^\a    \2575 \a   scss\\_base.scss 10:3  @import\a   scss\\index.scss 5:9   root stylesheet";
}
