.formControl{
  &__input{
    width: 100%;
    height: 48px;
    border: 1px solid $border-default;
    padding: 14px 0 0 0;
  }

  &__button{
    width: 100%;
    height: 56px;
    color: $text-dark;
    background: $primary;
    padding: 0;
    border: 0;
  }
}

//에러 메시지

.errorMessage{
  display: none;
  font-size: rem(12px);
  line-height: 1.5;
  letter-spacing: -0.1em;
  color: $warning;
}

.is--invalid .errorMessage{
  display: block;
}