.formControl{
  position: relative;

  &__input{
    width: 100%;
    height: 48px;
    border: 1px solid $border-default;
    padding: 14px;
  }

  &__button{
    width: 100%;
    height: 56px;
    color: $text-dark;
    background: $primary;
    padding: 0;
    border: 0;
  }
}

//에러 메시지

.errorMessage{
  display: none;
  font-size: rem(12px);
  line-height: 1.5;
  letter-spacing: -0.1em;
  color: $warning;
}

//커스텀 체크박스
.customCheckbox{
  appearance: none;
  position: absolute;
  top: 2px;
  width: 24px;
  height: 24px;

  &Label{
    @include flexbox($align: center);
    padding-left: 28px;
    min-height: 28px;
    background: url(./../images/unchecked.svg) no-repeat 0 50% / 24px 24px;
   }


   &:checked + &Label{
    background-image: url(./../images/checked.svg);
   }
  }

.is--invalid .errorMessage{
  display: block;
}
