.container{
  @include mobile{
    padding-top: 25px;
    @include paddingX(16px);

  }

  @include desktop{
    padding-top: 50px;
  }
}

// 로고
.logo {
  @include autoMargin;
  @include paddingX;

  @include mobile{
    width: 51.25%;
    min-width: 164px;
    max-width: 230px;
    @include paddingY(45px);
  }

  @include desktop{
    width: 230px;
    @include marginY(50px);
  }

  &__link{
    display: block;

    &:focus {
      outline-offset: 10px;
    }
  }
}

// 로그인 폼

.loginForm__container{
  @include flexbox(column);

  @include desktop{
    @include boxFixed;
  }

  .errorMessage{
    margin-top: 8px;
  }
}

.userPassword{
  margin-top: 10px;
}

.userSelectInfo{
  order: 1;
  margin-top: 10px;
  @include flexbox($align: center);

  @include mobile{
    justify-content: flex-end;
  }
}

.loginState{
  @include desktop{
    margin-right: auto;
  }
}

.ipSecurityLink{
  @include mobile{
    display: none;
  }
}

.ipSecurity{
  @include mobile{
    display: none;
  }
  
  &__checkbox{
    -webkit-appearance: none;
    appearance: none;
  }

  &__label::before{
    display: inline-block;
    width: 3em;
    text-align: right;
    content: "OFF";
    color: $secondary;
    font-weight: 600;
  }

  &__checkbox:checked + &__label::before{
    content: "ON";
    color: $primary;
  }
  
}

.loginButton{
  margin-top: 20px;
}