.container{
  @include mobile{
    padding-top: 25px;
    @include paddingX(16px);

  }

  @include desktop{
    padding-top: 50px;
  }
}

// 로고
.logo {
  @include autoMargin;
  @include paddingX;

  @include mobile{
    width: 51.25%;
    min-width: 164px;
    max-width: 230px;
    @include paddingY(45px);
  }

  @include desktop{
    width: 230px;
    @include marginY(50px);
  }

  &__link{
    display: block;

    &:focus {
      outline-offset: 10px;
    }
  }
}

// 로그인 폼

.loginForm__container{
  @include flexbox(column);

  @include desktop{
    @include boxFixed;
  }

  .errorMessage{
    margin-top: 8px;
  }
}

.userPassword{
  margin-top: 10px;
}

.userSelectInfo{
  order: 1;
  margin-top: 10px;
  @include flexbox($align: center);

  @include mobile{
    justify-content: flex-end;
  }
}

.loginState{
  @include desktop{
    margin-right: auto;
  }
}

.ipSecurityLink{
  margin-right: 8px;
  @include mobile{
    display: none;
  }
}

.ipSecurity{
  @include mobile{
    display: none;
  }
  // 스위치 컴포넌트
  &__checkbox{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  &__label{
    position: relative;
    width: 44px;
    height: 24px;
    background: $silver;
    display: block;
    border-radius: 12px;
    padding: 0 4px;
    &::before{
    content: "";
    position: absolute;
    top:50%;
    width: 18px;
    height: 18px;
    background: $white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 200ms;
    }
  }

  &__checkbox:checked + &__label{
    background: $primary;
  }

  &__checkbox:checked + &__label::before{
    transform: translate(100%, -50%);
  }
  
  // ON/OF 텍스트 스위치 버전
  // &__label::before{
  //   display: inline-block;
  //   width: 3em;
  //   text-align: right;
  //   content: "OFF";
  //   color: $secondary;
  //   font-weight: 600;
  // }

  // &__checkbox:checked + &__label::before{
  //   content: "ON";
  //   color: $primary;
  // }
  
}

.loginButton{
  margin-top: 20px;
}