.container{
  @include mobile{
    padding-top: 25px;
    @include paddingX(16px);

  }

  @include desktop{
    padding-top: 50px;
  }
}

// 로고
.logo {
  @include autoMargin;
  @include paddingX;

  @include mobile{
    width: 51.25%;
    min-width: 164px;
    max-width: 230px;
    @include paddingY(45px);
  }

  @include desktop{
    width: 230px;
    @include marginY(50px);
  }

  &__link{
    display: block;

    &:focus {
      outline-offset: 10px;
    }
  }
}

// 로그인 폼

.loginForm__container{
  @include flexbox(column);

  @include desktop{
    @include boxFixed;
  }

  .errorMessage{
    margin-top: 8px;
  }
}

.userPassword{
  margin-top: 10px;
}

.userSelectInfo{
  order: 1;
  margin-top: 10px;
}

.loginButton{
  margin-top: 20px;
}